<!DOCTYPE html >
<html lang="en">
  <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet"  href="style.css">
    <title >{{title}}</title >
  </head >
  <body >
 <h1 >{{heading}}</h1 >
<a href="https://handlebarsjs.com/">     
</a>
<div>{{text}}</div>    
<ul >
        {{#each issues}}
        <li >
          {{id}}:{{title}} 
        </li >
          {{/ each}}
      </ul >

  </body >

</html >